<!-- Validation failure messages -->
<% if @inventory.errors.any? %>
  <% @inventory.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Inventory #<%= @inventory.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_inventory/<%= @inventory.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <input type="hidden" id="quantity" name="user_id" placeholder="Quantity" class="form-control" value="<%= @inventory.user.id %>">


      <!-- Label and input for item_id -->
      <div class="form-group">
        <label for="item_id" class="control-label">
          Item
        </label>

        <%= select_tag(:item_id, options_from_collection_for_select(Item.all, :id, :name, @inventory.item_id), :class => "form-control") %>
      </div>

      <!-- Label and input for quantity -->
      <div class="form-group">
        <label for="quantity" class="control-label">
          Quantity
        </label>

        <input type="text" id="quantity" name="quantity" placeholder="Quantity" class="form-control" value="<%= @inventory.quantity %>">
      </div>

      <button class="btn btn-warning">
        Update Inventory
      </button>
      or
      <a href="/">Cancel</a>
    </form>
  </div>
</div>
