<div class="page-header">
  <h3>Inventory #<%= @inventory.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd>
        <% if @inventory.user.present? %>
          <a href="/users/<%= @inventory.user_id %>">
            <%= @inventory.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>Item</dt>
      <dd>
        <% if @inventory.item.present? %>
          <a href="/items/<%= @inventory.item_id %>">
            <%= @inventory.item.name %>
          </a>
        <% end %>
      </dd>

      <dt>Quantity</dt>
      <dd><%= @inventory.quantity %></dd>

      <dt>Proposed trade</dt>
      <dd>
        <% if @inventory.proposed_trade.present? %>
          <a href="/proposed_trades/<%= @inventory.proposed_trade_id %>">
            <%= @inventory.proposed_trade.status %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/inventories" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @inventory.user %>
        <a href="/inventories/<%= @inventory.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_inventory/<%= @inventory.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>

<!-- A Inventory has many line_items -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Line_items
      </li>

      <% @inventory.line_items.each do |line_item| %>
        <li class="list-group-item">
          <a href="/line_items/<%= line_item.id %>">
            <%= line_item.inventory_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/line_items/<%= line_item.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/line_items/<%= line_item.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_line_item/<%= line_item.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_line_item" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for inventory_id -->
      <input type="hidden" name="inventory_id" value="<%= @inventory.id %>">

      <!-- Label and input for proposed_trade_id -->
      <div class="form-group">
        <label for="proposed_trade_id" class="control-label">
          Proposed trade
        </label>

        <%= select_tag(:proposed_trade_id, options_from_collection_for_select(ProposedTrade.all, :id, :status), :class => "form-control") %>
      </div>

      <!-- Label and input for quantity -->
      <div class="form-group">
        <label for="quantity" class="control-label">
          Quantity
        </label>

        <input type="text" id="quantity" name="quantity" placeholder="Quantity" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Line Item
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
