<div class="page-header">
  <h3>Line Item #<%= @line_item.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Inventory</dt>
      <dd>
        <% if @line_item.inventory.present? %>
          <a href="/inventories/<%= @line_item.inventory_id %>">
            <%= @line_item.inventory.user_id %>
          </a>
        <% end %>
      </dd>

      <dt>Proposed trade</dt>
      <dd>
        <% if @line_item.proposed_trade.present? %>
          <a href="/proposed_trades/<%= @line_item.proposed_trade_id %>">
            <%= @line_item.proposed_trade.status %>
          </a>
        <% end %>
      </dd>

      <dt>Quantity</dt>
      <dd><%= @line_item.quantity %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/line_items" class="btn btn-primary">
        Back
      </a>
      <a href="/line_items/<%= @line_item.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_line_item/<%= @line_item.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
